<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	<form th:action="@{/bbs/insert}" th:object="${articleForm}" method="post">
		<div th:errors="*{name}" style="color:red">名前を入力してください</div>
		<label for="article_name">名前: </label>
		<input type="text" name="name" id="article_name"><br>
		<div th:errors="*{content}" style="color:red">名前を入力してください</div>
		<label for="article_content">内容: </label>
		<textarea name="content" id="article_content" cols="25" rows="5"></textarea><br>
		<button type="submit">記事投稿</button>
	</form>
	<hr>
    <div th:each="article : ${articleList}">
		投稿者名：<span th:text="${article.name}">記事太郎</span><br>
		投稿内容：<pre><span th:text="${article.content}">記事投稿内容</span></pre>
		<form th:action="@{/bbs/delete}" method="post">
			<input type="hidden" name="id" th:value="${article.id}">
			<button type="submit">記事削除</button>
		</form>
		<br>
		
		<div th:each="comment : ${article.commentList}">
			コメント者名：<span th:text="${comment.name}">コメント太郎</span><br>
			コメント内容：<pre><span th:text="${comment.content}">コメント投稿内容</span></pre>
		</div>
		<form th:action="@{/bbs/insertComment}" th:object="${commentForm}" method="post">
			<input type="hidden" name="articleId" th:value="${article.id}">
			<div th:if="${article.id == commentForm.articleId}">
				<div th:errors="*{name}" style="color:red">名前を入力してください</div>
			</div>
			<label for="comment_name">名前</label><br>
			<input type="text" name="name" id="comment_name">
			<br>
			<label for="comment_content">コメント</label><br>
			<div th:if="${article.id == commentForm.articleId}">
				<div th:errors="*{content}" style="color:red">エラー！</div>
			</div>
			<textarea name="content" id="comment_content" cols="25" rows="5"></textarea>
			<br>
			<input type="submit" value="コメント投稿" >
		</form>
		<hr>
	</div>
</body>
</html>
